/*1-Header*/
/*2-Menu*/
/*3-slider*/

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
}
/*1-Header*/
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 60.42%, #D90404 100%);
    background-image: url("img/pizza.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
        
    

}
header section div{
    top: 70px;
}
header section div {
    top: 15vh;
    margin: 107px;
    position: absolute;
}
header section div h6{
    font-size: 30px;
    color: #F2C879;

}
header section div h2{
    font-size: 36px;
    color: white;
    text-align: inherit;

}
.btn-modal{
    background-color: #D90404;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 12px;
    text-decoration: none;
}
section{
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.42) 60.42%, #D90404 100%);
    position: absolute;
    top: 0;

}
nav{
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    z-index: 24;
    position: relative;
}
nav a img {
    width: 118px;
    margin: 20px;
}
.nav-menu-link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
.nav-menu-link:hover{
    background-color: #F24405;
    border-radius: 10px;
    padding: 10px;
    transition: 0.5s;
}
.logo{
    padding: 0 40px;
    line-height: 80px;
    
}
.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-item{
    font-size: 30px;
    margin: 0 10px;
    line-height: 80px;
}

.toggler{
    background: none;
    border: none;
    line-height: 60px;
    display: none;
}
@media (max-width:768px) {
    header{
        width: 100%;
        height: 100vh;
        background: linear-gradient(180deg, rgba(156, 5, 5, 0.42) 60.42%, #D90404 100%);
        background-image: url("img/movil.png");
        background-size: 100vh;
        background-repeat: no-repeat;
    
    }
    header section div {
        top: 7vh;
        margin: 107px;
        position: absolute;
    }
    nav{
        display: flex;
        justify-content: space-between;
        max-width: 95%;
        
    }
    .nav-menu-link{
        text-decoration: none;
        color: white;
        font-weight: bold;
        
    }
    .nav-menu-link:hover{
        background-color: #F24405;
        border-radius: 10px;
        padding: 10px;
        transition: 0.5s;
    }
    .logo{
        padding: 0 40px;
        line-height: 80px;
        
    }
    .nav-menu{
        margin-right: 40px;
        list-style: none;
        display: flex;
        flex-direction: column;
        background-color: #D90404;
        position: fixed;
        width: 100%;
        text-align: center;
        top: 100px;
        padding: 0;
        height: 100%;
        overflow-y: auto;
        left: 100%;
        transition: 0.3s;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-menu-item{
        font-size: 30px;
        margin: 0 10px;
        line-height: 80px;
    }
    
    .toggler{
        background: none;
        border: none;
        line-height: 60px;
        display: block;
        size: 30px;
        cursor: pointer;
    }
    
}
/*Fin-Header*/
/*Menu*/
.contenedor-menu{
    width: 100%;
    height: 100vh;
    background: white;
    position: relative;
    background-image: url(img/pizza-menu.png);
    background-size: 100%;
    background-repeat: no-repeat;


}
.contenedor-gradiente{
    background: linear-gradient(180deg, #D90404 12.5%, rgba(255, 255, 255, 0.12) 69.79%);
    position: absolute;
    top: 100vh;
}
.menu{
    background-color: white;
    height: 500px;
    margin: 170px 80px;
    position: relative;
    top: 60px;
    border-radius: 20px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contenedor-menu h2 {
    position: relative;
    color: white;
    z-index: 1;
    text-align: center;
    font-size: 43px;
    margin: 27px 0;
}
.item_menu{
    width: 30%;
    margin: 30px;
    border-radius: 20px;
    
}
.item_menu h2{
    color: #000000;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
.item_menu p{
    color:#F24405;
    text-align: center;
    font-size: 30px;
    margin: 0;
    text-align: center;
}
@media (max-width:768px) {
    .menu {
        background-color: white;
        height: 1350px;
        margin: 60px 0;
        position: relative;
        top: 0;
        border-radius: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    .item_menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0;
    }
}

/*Fin Menu*/
/*Galeria*/
  .galeria{
      position: relative;
      margin-top: 220px;
      
  }
  .galeria h2 {
    font-size: 40px;
    text-align: center;
    margin: 43px;
    color: #D90404;
}
.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: cambio 20s infinite alternate;
   
}

.slider li{
    list-style: none;
    width: 100%;
}
.slider img{
    width: 100%;
    height: 100%;
}
.slider img:hover{
    transform: scale(1.5);
}
@keyframes cambio{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    75% {margin-left: -200%;}
    100% {margin-left: -300%;}
}

@media (max-width:768px){
    .galeria {
        position: relative;
        margin-top: 1000px;
    }
}
/*Fin Galeria*/
/*Contacto*/
.contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}
input {
    width: 100%;
    margin: 7px 117px;
    padding: 20px;
}
.map {
    padding: 7px 110px;
}
button {
    margin: 7px 117px;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;

}
@media (max-width:768px){
    input {
        width: 100%;
        margin: 0;
        padding: 20px;
    }
    .contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    button {
        margin: 18px 0;
        width: 100%;
        padding: 15px;
        border-radius: 20px;
        cursor: pointer;
    }
    .map {
        padding: 10px 0;
        margin: auto;
    }
}
/*Fin Contacto*/
/*Estilos pagina Gracias*/
.gracias {
    background-color: red;
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 19px;
}
/*fin Estilos pagina Gracias*/
/*Modal*/
.modal {
    background-color: rgba(0, 0, 0, 0.692);
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    z-index: 42;
    padding: 80px;
    display: none;
    
}
.contenedor-modal{
    background-color: white;
    width: 50%;
    height: 100vh;
    padding: 50px;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    text-align: center;
    margin: auto;
    
}
.modal-show{
    display: block;
    
}
.titulo-modal{
    font-size: 20px;
}
.modal-parrafo{
    margin-bottom: 10px;
    padding: 20px;
}
.modal-close{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
/*Fin Modal*/

@media (max-width:768px){
    .contenedor-modal {
        background-color: white;
        width: 100%;
        height: 100vh;
        padding: 0;
        max-width: 600px;
        max-height: 90%;
        border-radius: 6px;
        text-align: center;
        margin: auto;
    }
}